@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient {
    @apply bg-gradient-to-r from-teal-600 via-blue-600 to-pink-500;
  }

  .faded-text {
    @apply font-bold text-gray-500;
  }

  .divider {
    @apply w-full h-0.5 bg-gray-800 my-6;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
